<section class="venue">
	<header class="page-header"><h1>
		Venue — <%= @venue.name %>
	</h1></header>
	<h2><%= link_to "Website", @venue.website %> - <span class="venue-location"><a href="http://maps.google.com/?q=<%= @venue.location %>"><%= @venue.location %> <span class="glyphicon glyphicon-map-marker"></span></a></h2>
</section>

<section class="venue-gigs">
	<h2>Current gigs</h2>
	<% @venue.get_current_gigs.each do |gig| %>
		<%= render :partial => "gigs/gig", :locals => {:gig => gig} %>
	<% end %>
	
	<h2>Previous gigs</h2>
	<% @venue.get_previous_gigs.each do |gig| %>
		<%= render :partial => "gigs/gig", :locals => {:gig => gig} %>
	<% end %>
</section>
