<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
	<a class="navbar-brand" href="<%= root_path() %>">GigCove</a>
	<ul class="nav navbar-nav">
		<li class="<%= "active" if current_page?(contact_path()) %>"><a href="<%= contact_path() %>"><span class="glyphicon glyphicon-pencil"></span> Contact/Enquire</a></li>
		<li class="<%= "active" if current_page?(gigs_path()) %>"><a href="<%= gigs_path %>"><span class="glyphicon glyphicon-list"></span> Find live music gigs</a></li>
		<li class="<%= "active" if current_page?(new_gig_path()) %>"><a href="<%= new_gig_path %>"><span class="glyphicon glyphicon-bullhorn"></span> Post gig</a></li>
	</ul>
</div>
</nav>
