<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
	<a class="navbar-brand" href="<%= root_path() %>">GigCove</a>
	<ul class="nav navbar-nav">
		<li class="<%= "active" if current_page?(contact_path()) %>"><a href="<%= contact_path() %>"><span class="glyphicon glyphicon-pencil"></span> Contact/Enquire</a></li>
		<li class="<%= "active" if current_page?(gigs_path()) %>"><a href="<%= gigs_path %>"><span class="glyphicon glyphicon-list"></span> Find live music gigs</a></li>
		<li class="<%= "active" if current_page?(new_gig_path()) %>"><a href="<%= new_gig_path %>"><span class="glyphicon glyphicon-bullhorn"></span> Post gig</a></li>
		
		<% if user_signed_in? %>
		<% if current_user.has_role? :moderator %>
		<li class="<%= "active" if current_page?(unmoderated_gigs_path()) %>"><a href="<%= unmoderated_gigs_path %>"><span class="glyphicon glyphicon-filter"></span> Moderate unapproved gigs</a></li>
		<% end %>
		<% end %>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
			<a href="<%= edit_user_registration_path %>"><button type="button" class="btn btn-primary navbar-btn"><strong><%= current_user.email %></strong></button></a>
			<a href="<%= destroy_user_session_path %>" data-method="delete"><button type="button" class="btn btn-primary navbar-btn">Sign out</button></a>
		<% else %>
			<a href="<%=  new_user_session_path %>"><button type="button" class="btn btn-primary navbar-btn">Sign in</button></a>
			<a href="<%= new_user_registration_path %>"><button type="button" class="btn btn-primary navbar-btn">Register</button></a>
		<% end %>
	</ul>
</div>
</nav>
