<h1 class="brand">gigcove</h1>

<h1>Gigcove</h1>
<h2>Find local live music in <em>Brisbane</em></h2>

<nav>
	<ul>
		<li><a class="btn btn-success btn-lg" role="button" href="<%= new_gig_path %>">Post a gig</a></li>
		<li><a class="btn btn-success btn-lg" role="button" href="<%= gigs_path %>">Talk to us</a></li>
	</ul>
</nav>

<hr>

<div class="Gig"><div class="panel-body">
	<div class="Gig--Main">
		<p>in 2 days &middot; 7pm&mdash;9pm</p>
		<p>#rock #indie #ether</p>
		<p>20km @ The Hive &middot; $5</p>
	</div>
	<div class="Gig--Venue"></div>
</div></div>

<%= react_component('GigSearchForm', { maxCost: 15, location: "South Brisbane"}, {prerender: true}) %>

<q><%= Gig.count %> gigs and counting...</q>

<%= react_component('GigSearchForm', { maxCost: 15, location: "South Brisbane"}, {prerender: true}) %>


<h2>Upcoming gigs <small><a href="">more venues</a></small></h2>
<%= render :partial => "gigs/upcoming_gigs" %>

<h2>Recent gigs <small><a href="">more venues</a></small></h2>
<%= render :partial => "gigs/recent_gigs" %>