<article class="gig gig-editable"><div class="gig-inner">

  <aside class="left">
    <h2>Details</h2>
    <div>
    <span>Costs $</span><span class="ticket-cost" contenteditable="true" placeholder="0"></span>
    <%= f.hidden_field(:ticket_cost) %>
    </div>
    
    <div>
    <p class="gig-times">
      <span>Starts on the </span><input type="text" class="input-date start" placeholder="dd/mm/yyyy"/> at <input type="text" class="input-time start" placeholder="time"/><span> and goes till </span><input type="text" class="input-time end" placeholder="time"/>
    </p>

    <%= f.hidden_field(:start_time) %>
    </div>

    <div class="gig-venue">
      <h2>Venue</h2>
      <input type="text" class="gig-venue-name" data-ajax="<%= venues_path %>" placeholder="Enter the venue name" value=""/>
    </div>
  </aside><!-- .left -->

  <div class="main">
    <h1><span class="event-name" contenteditable="true" placeholder="Gig title"></span></h1>
    <%= f.hidden_field(:title) %>
    
    <div>Source: <small class="link-to-source" contenteditable="true" placeholder="Link to source"></small></div>
    <%= f.hidden_field(:link_to_source) %>
    
    <div><textarea class="description form-control" rows="3" placeholder="Description"></textarea></div>
    <%= f.hidden_field(:description) %>
    
    <div>
      <h3>Genres</h3>
      <input type="text" class="gig-genres" data-ajax="<%= genres_path %>" placeholder="What types of music will be playing?" value=""/>
    </div>
    <%= f.hidden_field(:genres) %>

    <div>
      <h3>Artists</h3>
      <input type="text" class="gig-artists" data-ajax="<%= artists_path %>" placeholder="Who's playing?" value=""/>
    </div>

  </div><!-- .main -->

</div></article><!-- .gig -->