<!DOCTYPE html>
<!--
	Built by Liam Edwards-Playne <liamz.co>
-->
<html dir="ltr" lang="en">
<head>
  <%= render 'shared/metadata' %>

	<!-- Desktop -->
	<link rel="icon" type="image/png" href="<%= image_path 'icon.png' %>">
	<!-- iOS -->
	<link rel="apple-touch-icon-precomposed" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<link rel="apple-touch-icon" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">
  
<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic|Arvo:400,700,400italic,700italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Crushed|Fredericka+the+Great|Yeseva+One|Quicksand:300,400,700|Monofett|Six+Caps|Oxygen:400,300,700|Stoke:400,300|Megrim' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true, "data-turbolinks-eval" => false %>
</head>


<body class="Page" id="<%= "#{controller_name}-#{action_name}" %>">  
  <header id="Page--Head" class="bar bar-header bar-light">
    <h1 class="title"><strong>GigCove</strong></h1>
  </header>

  <footer id="Page--Footer" class="bar bar-footer bar-light">
    <!--
      <a class=" <%= "active" if current_page?(root_path) %>" href="<%= root_path %>"><button class="button button-clear">
        <span class="button-icon icon icon-search"></span>
        <span class="tab-label">Find gigs</span>
      </button></a>
      <a class=" <%= "active" if current_page?(contribute_path) or current_page?(new_gig_path) %>" href="<%= contribute_path %>"><button class="button button-clear">
        <span class="button-icon icon icon-compose"></span>
        <span class="tab-label">Contribute info</span>
      </button></a>
    -->
    <div class="button-bar">
    <button class="button button-clear">Hello</button>
    <button class="button button-clear">Search</button>
    <button class="button button-clear">Contribute</button>
    </div>
  </footer>
  
  <div id="Page--Content" class="content">
    <% if notice or alert %>
    <aside class="notice">
      <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>
    </aside>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>
