<!DOCTYPE html>
<!--
	Built by Liam Edwards-Playne <liamz.co>
-->
<html dir="ltr" lang="en">
<head>
  <%= render 'shared/metadata' %>

	<!-- Desktop -->
	<link rel="icon" type="image/png" href="<%= image_path 'icon.png' %>">
	<!-- iOS -->
	<link rel="apple-touch-icon-precomposed" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<link rel="apple-touch-icon" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">
  
<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic|Arvo:400,700,400italic,700italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Crushed|Fredericka+the+Great|Yeseva+One|Quicksand:300,400,700|Monofett|Six+Caps|Oxygen:400,300,700|Stoke:400,300|Megrim' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true, "data-turbolinks-eval" => false %>
</head>


<body class="Page" id="<%= "#{controller_name}-#{action_name}" %>">  
  <header id="Page--Head" class="bar bar-header bar-light">
    <h1 class="title"><strong>GigCove</strong></h1>
  </header>

    <footer id="Page--Footer" class="tabs tabs-icon-top">
      <a class="tab-item <%= "active" if current_page?(root_path) %>" href="<%= root_path %>">
        <span class="icon ion-home"></span>
        Hello
      </a>

      <a class="tab-item <%= "active" if current_page?(root_path) %>" href="<%= root_path %>">
        <span class="icon ion-search"></span>
        Search
      </a>

      <a class="tab-item <%= "active" if current_page?(contribute_path) %>" href="<%= contribute_path %>">
        <span class="icon ion-compose"></span>
        Contribute
      </a>

      <a class="tab-item <%= "active" if current_page?(hello_path) %>" href="<%= hello_path %>">
        <span class="icon ion-chatbox"></span>
        Hello
      </a>
    </footer>

    <ion-content id="Page--Content" class="has-header has-tabs" scroll>
      <%= yield %>
    </ion-content>

</body>

</html>
