<!DOCTYPE html>
<!--
	Built by Liam Edwards-Playne <liamz.co>
-->
<html dir="ltr" lang="en" itemscope itemtype="http://schema.org/Article">
<head>
	<%= render 'shared/metadata.html.erb' %>

	<!-- Desktop -->
	<link rel="icon" type="image/png" href="<%= image_path 'icon.png' %>">
	<!-- iOS -->
	<link rel="apple-touch-icon-precomposed" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<link rel="apple-touch-icon" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true, "data-turbolinks-eval" => false %>
</head>

<body>
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
      <a class="icon icon-refresh pull-right"></a>
      <h1 class="title"><strong>GigCove</strong></h1>
    </header>

    <div class="content">
    	<%= yield %>
    </div>

    <div class="bar bar-footer">
      
    </div>
</body>

</html>
