<!DOCTYPE html>
<!--
	Built by Liam Edwards-Playne <liamz.co>
-->
<html dir="ltr" lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Never cache. Ever. -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	
	<% @page_title = @page_title ? @page_title : "" %>
	<% if not current_page?('/') %>
		<% page_title = @page_title + ' | GigCove' %>
	<% else %>
		<% page_title = @page_title %>
	<% end %>
	<% page_banner_image = @page_image? @page_image : "/assets/images/page_image_default.png" %>
	<% page_image = @page_image %>
	<% page_description = @page_description %>
	<% page_published_time = @page_published_time %>
	<% page_modified_time = @page_modified_time %>
	<% page_url = request.original_url %>
	<% page_tags = @page_tags ? @page_tags : [] %>
	<title><%= page_title %></title>
	<meta name="description" content="<%= raw page_description %>" />

	<meta itemprop="name" content="<%= raw page_title %>">
	<meta itemprop="description" content="<%= raw page_description %>">
	<meta itemprop="image" content="<%= raw page_banner_image %>">

	<!-- 
	    Twitter Card
	-->
	<meta name="twitter:card" content="summary">
	<!--<meta name="twitter:site" content="@liamzebedee">-->
	<meta name="twitter:title" content="<%= raw page_title %>">
	<meta name="twitter:description" content="<%= raw page_description %>">
	<% if page_image %><meta name="twitter:image" content="<%= raw page_image %>"><% end %>

	<!-- 
	    Open Graph
	-->
	<meta property="og:title" content="<%= raw page_title %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%= raw page_url %>" />
	<meta property="og:image" content="<%= raw page_banner_image %>" />
	<meta property="og:description" content="<%= raw page_description %>" />
	<meta property="og:site_name" content="Gigcove" />
	<% if page_published_time %>
		<meta property="article:published_time" content="<%= raw page_published_time %>" />
	<% end %>
	<% if page_modified_time %>
		<meta property="article:modified_time" content="<%= raw page_modified_time %>" />
	<% end %>	
	<!--<meta property="article:section" content="Article Section" />-->
	<% page_tags.each do |tag| %>
		<meta property="article:tag" content="<%= raw tag %>" />
	<% end %>



	<!-- Desktop -->
	<link rel="icon" type="image/png" href="<%= image_path 'icon.png' %>">
	<!-- iOS -->
	<link rel="apple-touch-icon-precomposed" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<link rel="apple-touch-icon" href="<%= image_path 'icon-touch-precomposed.png' %>">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--<link rel="apple-touch-startup-image" href="<%= image_path 'icon-touch-precomposed.png' %>">-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Android -->
	<meta name="mobile-web-app-capable" content="yes">


    <link rel="stylesheet" href="../../dist/css/ratchet.min.css">
    <link rel="stylesheet" href="../../dist/css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="../../dist/js/ratchet.min.js"></script>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true, "data-turbolinks-eval" => false %>
</head>

<body>
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
      <a class="icon icon-refresh pull-right"></a>
      <h1 class="title">All inboxes</h1>
    </header>

    <div class="content">
    </div>

    <div class="bar bar-footer">
      <a class="icon icon-compose pull-right" href="#composeModal"></a>
      <small class="updated-text">Updated just now</small>
    </div>
</body>

</html>
